{include file="Common/top" title="首页" metas='' /}
{include file="Common/search" /}
{if condition="authority('DataAnalysisMedia')"}
<style>
    .params{
        display: inline;
        color: black;
        margin-left: 10px;
        padding: 0 10px 15px 10px;
    }

    .params-active{
        display: inline;
        color: black;
        margin-left: 10px;
        padding: 0 10px 15px 10px;
        border-bottom: 5px green solid;
    }
</style>
<div class="main-container" id="analysisMedia">
    <div class="padding-md" style="overflow: auto">
        <ul class="breadcrumb">
            <li><span class="primary-font"><i class="icon-home"></i></span><a href="__PRO_PATH__/">首页</a></li>
            <li><a href="__PRO_PATH__/DataAnalysis/index">舆情分析</a></li>
            <li>媒体分布</li>
        </ul>

        {if condition="$error eq ''"}
        <div class="col-lg-12" style="background-color: #fff">
            <div id="media_pie_chart" style="height: 400px;"></div>
        </div>

        <div class="col-lg-4" style="background-color: #fff" hidden>
            <div id="media_list" style="height: 400px;">
                <div class="list-search">
                    <a href="javascript:;" @click="changeSection(0)" :class="active.type == 0 ? 'params-active' : 'params'">媒体类型</a>
                    <a href="javascript:;" @click="changeSection(1)" :class="active.type == 1 ? 'params-active' : 'params'">媒体来源</a>
                </div>
            </div>
        </div>

        {else /}
        <div class="row" style="text-align: center">{$error ?? ''}</div>
        {/if}
    </div>
</div><!-- /main-container -->
{include file="Common/popup_warn" /}
{include file="Common/popup_list" /}
{include file="Common/popup_verify" /}
{include file="Common/calendar" /}
{include file="Common/bottom" /}
<script src="__PUBLIC__/js/datapicker/daterangepicker.js"></script>
<script>
    $('#consensus-nav-data-analysis').addClass('active open');
    $('#consensus-nav-data-analysis-sub4').addClass('active');

    // 初始化vue
    var vm = new Vue({
        el: '#analysisMedia',
        data: {
            task_id: "{$params.task_id ?? ''}",
            task_name: "{$params.task_name ?? ''}",
            media: [],
            params: {},
            active:{
                type: 0
            }
        },
        mounted:function () {
            $(function () {
                if(getTaskList()){
                    submit();
                }
                changeAnalysisUrl(vm.task_id, vm.task_name);
            })
        },
        methods:{
            changeSection: function (value) {
                this.active['type'] = value;
            },
            showMediaPie: function () {
                var chartDom = document.getElementById('media_pie_chart');
                var myChart = echarts.getInstanceByDom(chartDom) || echarts.init(chartDom);
                myChart.showLoading();
                $.post('__PRO_PATH__/DataAnalysis/getMediaDistribution', vm.params, function (res) {
                    if(res.error_code==0){
                        vm.data = res.data;
                        var legend = [];
                        var data = [];
                        for(var i=0;i<vm.data.length;i++){
                            var type = vm.data[i]['media_type'];
                            var d = vm.data[i]['num'];
                            legend.push(type);
                            data.push({
                                name: type,
                                value: d
                            });
                        }
                        var option = {
                            tooltip: {
                                trigger: 'item',
                                formatter: "{a} <br/>{b}: {c} ({d}%)"
                            },
                            legend: {
                                orient: 'vertical',
                                x: 'right',
                                data: legend // 所有的媒体来源
                            },
                            series: [
                                {
                                    name:'媒体类型',
                                    type:'pie',
                                    radius: ['45%', '55%'],
                                    label: {
                                        normal: {
                                            formatter: '{a|{a}}{abg|}\n{hr|}\n  {b|{b}：}{c}  {per|{d}%}  ',
                                            backgroundColor: '#eee',
                                            borderColor: '#aaa',
                                            borderWidth: 1,
                                            borderRadius: 4,
                                            // shadowBlur:3,
                                            // shadowOffsetX: 2,
                                            // shadowOffsetY: 2,
                                            // shadowColor: '#999',
                                            // padding: [0, 7],
                                            rich: {
                                                a: {
                                                    color: '#999',
                                                    lineHeight: 22,
                                                    align: 'center'
                                                },
                                                // abg: {
                                                //     backgroundColor: '#333',
                                                //     width: '100%',
                                                //     align: 'right',
                                                //     height: 22,
                                                //     borderRadius: [4, 4, 0, 0]
                                                // },
                                                hr: {
                                                    borderColor: '#aaa',
                                                    width: '100%',
                                                    borderWidth: 0.5,
                                                    height: 0
                                                },
                                                b: {
                                                    fontSize: 16,
                                                    lineHeight: 33
                                                },
                                                per: {
                                                    color: '#eee',
                                                    backgroundColor: '#334455',
                                                    padding: [2, 4],
                                                    borderRadius: 2
                                                }
                                            }
                                        }
                                    },
                                    data: data
                                }
                            ]
                        };
                        myChart.hideLoading();
                        // 使用刚指定的配置项和数据显示图表。
                        myChart.setOption(option);
                        //用于使chart自适应高度和宽度
                        window.onresize = myChart.resize();
                    }
                });
            }
        },
        filters:{

        }
    });

    // 异步提交数据
    function submit() {
        getParams();
        vm.showMediaPie();
    }

    // 获取参数
    function getParams() {
        vm.params['task_id'] = vm.task_id;
        console.log(JSON.stringify(vm.params));
    }
</script>
{else /}
<div class="main-container">
    <div class="padding-md">
        <span class="col-lg-12" style="font-size: larger; text-align: center">
			<strong>抱歉，您访问的页面不存在！</strong>
		</span>
    </div>
</div>
{include file="Common/bottom" /}
{/if}