{include file="Common/top" title="首页" metas='' /}
{include file="Common/search" /}
<div class="main-container">
    <div class="padding-md" style="overflow: auto">
        <ul class="breadcrumb">
            <li><span class="primary-font"><i class="icon-home"></i></span><a href="__PRO_PATH__/">首页</a></li>
            <li>实时舆情</li>
            <li>全部舆情</li>
        </ul>

        <!-- 搜索条件 -->
        <div class="list-search">
            <form action="" class="form-inline" method="get" id="main-form" >
                <div class="form-group">
                    <label>时间范围：</label>
                    <input placeholder="开始时间" id="form-stime" name="begintime_str" data-enable-time=false
                           class="form-control flatpickr" style="width:100px">
                    <span> ~ </span>
                    <input placeholder="结束时间" id="form-etime" name="endtime_str" data-enable-time=false
                           class="form-control flatpickr" style="width:100px">
                </div>
                <div class="form-group">
                    <label for="relevance">舆情状态：</label>
                    <div class="btn-group" data-toggle="buttons" id="relevance">
                        <label class="btn btn-success" id="relevance-1" onclick="getRadioClicked('relevance', 0, -1)">
                            <input type="radio" name="relevance" value="-1" checked>全部
                        </label>
                        <label class="btn btn-default" id="relevance0" onclick="getRadioClicked('relevance', 1, 0)">
                            <input type="radio" name="relevance" value="0">相关性强
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="nature">舆情属性：</label>
                    <div class="btn-group" data-toggle="buttons" id="nature">
                        <label class="btn btn-success" id="nature-1" onclick="getRadioClicked('nature', 0, -1)">
                            <input type="radio" name="nature" value="-1" checked>全部
                        </label>
                        <label class="btn btn-default" id="nature0" onclick="getRadioClicked('nature', 1, 0)">
                            <input type="radio" name="nature" value="0">正面
                        </label>
                        <label class="btn btn-default" id="nature1" onclick="getRadioClicked('nature', 2, 1)">
                            <input type="radio" name="nature" value="1">中立
                        </label>
                        <label class="btn btn-default" id="nature2" onclick="getRadioClicked('nature', 3, 2)">
                            <input type="radio" name="nature" value="2">负面
                        </label>
                    </div>
                </div>

                <br/><br/>
                <div class="form-group">
                    <label for="area">地域选择：</label>
                    <select name="area" class="form-control" id="area" style="width:100px">
                        <option value="-1">全部</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="media_type">媒体类型：</label>
                    <select name="media_type" class="form-control" id="media_type" style="width:100px">
                        <option value="-1">全部</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="keywords">关键词：</label>
                    <input name="keywords" class="form-control" id="keywords" style="width:150px" value=""/>
                </div>

                <div class="form-group">
                    <input type="hidden" name="sortCol" class="form-control" id="sortCol"
                           value="{$cond.sortCol ?? ''}">
                </div>

                {if condition="authority('MonitorData_export')"}
                <a href="__PRO_PATH__/DataMonitor/export" target="_blank" type="button"
                   class="btn btn-default fr">导出</a>
                {/if}
            </form>
        </div>

        <!-- 数据表 -->
        <table class="table table-hover" style="background:#fff;" id="data">
            <thead>
            <tr>
                <th>标题</th>
                <th>来源</th>
                <th>媒体类型</th>
                <th>舆情属性</th>
                <th>发表时间
                    <a href="javascript:;" id="sort_time" onclick="setSortCol('time')" title="asc">
                        <i class="fa fa-sort" aria-hidden="true"></i>
                    </a>
                </th>
                <th>关联度
                    <a href="javascript:;" id="sort_relevance" onclick="setSortCol('relevance')" title="asc">
                        <i class="fa fa-sort" aria-hidden="true"></i>
                    </a>
                </th>
                <th>相似文章
                    <a href="javascript:;" id="sort_similar_num" onclick="setSortCol('similar_num')" title="asc">
                        <i class="fa fa-sort" aria-hidden="true"></i>
                    </a>
                </th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
                <tr v-for="model in list">
                    <td>{{model.name}}</td>
                    <td>{{model.url}}</td>
                    <td>{{model.slogan}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div><!-- /main-container -->
{include file="Common/popup_warn" /}
{include file="Common/popup_list" /}
{include file="Common/calendar" /}
{include file="Common/bottom" /}
<script>
    $('#tax-nav-monitor').addClass('active open');
    $('#tax-nav-monitor-sub1').addClass('active');
    $(".flatpickr").flatpickr({time_24hr: true});
    $('#form-stime').val('');
    $('#form-etime').val('');
    $('#sortCol').val('time');
    var sort = $('#sortCol').val();
    getSortCol(sort);

    var params = {};
    function submit() {
        getParams();
        $.post('__PRO_PATH__/DataMonitor/index', params, function (res) {
            if (res.errorcode == 0) {
                params = res.params;
                var data = res.data;
                new Vue({
                    el: '#data',
                    data: {
                        list: data
                    }
                });
            } else {
                new Vue({
                    el: '#data',
                    data: {
                        list: {}
                    }
                });
            }
        });
    }

    submit();

    // 获取点击按钮
    function getRadioClicked(name, index, value) {
        var valueOld = $("input[name="+name+"]:checked").val();
        var eleOld = name + valueOld;
        $('#'+eleOld).removeClass('btn-success').addClass('btn-default');
        $('input[name='+name+']').eq(index).attr('checked', 'true');
        var eleNew = name + value;
        $('#'+eleNew).removeClass('btn-default').addClass('btn-success');
    }

    // 获取参数设置
    function getParams() {
        var data = $('#main-form').serializeArray();
        $.each(data, function () {
            params[this.name] = this.value;
        });
        console.log(JSON.stringify(params));
    }

    // 改变排序方向
    function changeSort(sort) {
        if (sort == 'asc') {
            return 'desc';
        } else {
            return 'asc';
        }
    }

    // 设置排序参数
    function setSortCol(col) {
        var sort = $('#sortCol');
        var title;
        switch (col) {
            case 'time':
                title = $("#sort_t1").attr('title');
                sort.val("e.name " + title);
                $("#sort_t1").attr({"title": changeSort(title)});
                $("#sort_t1 i").removeClass().addClass('fa fa-sort-' + changeSort(title));
                break;
            case 'relevance':
                title = $("#sort_t2").attr('title');
                sort.val("d.name " + title);
                $("#sort_t2").attr({"title": changeSort(title)});
                $("#sort_t2 i").removeClass().addClass('fa fa-sort-' + changeSort(title));
                break;
            case 'similar_num':
                title = $("#sort_t3").attr('title');
                sort.val("c.name " + title);
                $("#sort_t3").attr({"title": changeSort(title)});
                $("#sort_t3 i").removeClass().addClass('fa fa-sort-' + changeSort(title));
                break;
        }
        submit();
    }

    // 获取排序参数
    function getSortCol(sortcol) {
        var col = sortcol.split(' ');
        var title = col[1];
        switch (col[0]) {
            case 'a.id':
                $("#sort_id").attr({"title": changeSort(title)});
                $("#sort_id i").removeClass().addClass('fa fa-sort-' + changeSort(title));
                break;
            case 'b.name':
                $("#sort_c_name").attr({"title": changeSort(title)});
                $("#sort_c_name i").removeClass().addClass('fa fa-sort-' + changeSort(title));
                break;
            case 'e.name':
                $("#sort_t1").attr({"title": changeSort(title)});
                $("#sort_t1 i").removeClass().addClass('fa fa-sort-' + changeSort(title));
                break;
            case 'd.name':
                $("#sort_t2").attr({"title": changeSort(title)});
                $("#sort_t2 i").removeClass().addClass('fa fa-sort-' + changeSort(title));
                break;
            case 'c.name':
                $("#sort_t3").attr({"title": changeSort(title)});
                $("#sort_t3 i").removeClass().addClass('fa fa-sort-' + changeSort(title));
                break;
            case 'a.task_id':
                $("#sort_task_id").attr({"title": changeSort(title)});
                $("#sort_task_id i").removeClass().addClass('fa fa-sort-' + changeSort(title));
                break;
            case 'a.createtime':
                $("#sort_time").attr({"title": changeSort(title)});
                $("#sort_time i").removeClass().addClass('fa fa-sort-' + changeSort(title));
                break;
        }
    }
</script>
