{include file="Common/top" title="首页" metas='' /}
{include file="Common/search" /}
<div class="main-container">
    <div class="padding-md" style="overflow: auto">
        <ul class="breadcrumb">
            <li><span class="primary-font"><i class="icon-home"></i></span><a href="__PRO_PATH__/">首页</a></li>
            <li>舆情预警</li>
            <li>预警设置</li>
        </ul>

        <div class="smart-widget" id="main-container">
            <div class="smart-widget-inner">
                <ul class="nav nav-tabs tab-style2">
                    <li class="active">
                        <a href="#keywordsTab" data-toggle="tab">
                            <span class="icon-wrapper"><i class="fa fa-key" aria-hidden="true"></i></span>
                            <span class="text-wrapper">预警关键词</span>
                        </a>
                    </li>
                    <li>
                        <a href="#thresholdTab" data-toggle="tab">
                            <span class="icon-wrapper"><i class="fa fa-signal" aria-hidden="true"></i></span>
                            <span class="text-wrapper">预警警戒线</span>
                        </a>
                    </li>
                </ul>
                <div class="smart-widget-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active"  id="keywordsTab">
                            <div class="list-btns">
                               <form action="" class="form-inline" method="get" id="switch-form" >
                                    <div class="form-group">
                                        <div id="keywordsSwitch" class="switch" data-on="success" data-off="warning">
                                            <input type="checkbox" name="keywordsSwitch" checked/>
                                        </div>
                                        <span style="vertical-align: super;">关键词预警: 根据添加的关键词和条件，从抓取的舆情当中提取相关联的文章，呈现在“舆情预警－预警舆情”模块。</span>
                                    </div>
                                </form>
                                <hr/>
                            </div>

                            <div class="padding-md" v-if="conditionResult">
                                <div class="block h4"><strong>预警条件</strong></div>
                                <div class="form-wrapper">
                                    <form class="form-horizontal" method="post" id="conditionResult-form">
                                        <div class="form-group">
                                            <label for="keywordsList" class="col-sm-2 control-label">关键词：</label>
                                            <div class="col-sm-10" id="keywordsList">
                                                <strong class="font-14 block" style="margin-top: 5px">{{keywords | showList}}</strong>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">舆情属性：</label>
                                            <div class="col-lg-10">
                                                <strong class="font-14 block" style="margin-top: 5px">{{natureChecked | showList}}</strong>
                                            </div><!-- /.col -->
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">媒体类型：</label>
                                            <div class="col-lg-10">
                                                <strong class="font-14 block" style="margin-top: 5px">{{mediaChecked | showList}}</strong>
                                            </div><!-- /.col -->
                                        </div>

                                        <div class="form-group" v-if="debug">
                                            <p>选中：{{natureChecked}}</p>
                                        </div>

                                        <div class="form-group"v-if="debug">
                                            <p>选中：{{mediaChecked}}</p>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-sm-offset-2 col-sm-10 lab-btns">
                                                <a class="btn btn-success" id="warn-config-form-edit" @click="editWarningConfig">修改</a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div class="padding-md" v-if="conditionSet">
                                <div class="block h4"><strong>预警条件</strong></div>
                                <div class="form-wrapper">
                                    <form class="form-horizontal" method="post" id="condition-set-form">
                                        <div class="form-group">
                                            <label for="addKeywords" class="col-sm-2 control-label">关键词：</label>
                                            <div class="col-sm-4">
                                                <input class="form-control" type="text" v-model.trim="addKeywords" name="addKeywords" placeholder="请输入关键词..." id="addKeywords">
                                                <span class="help-block"></span>
                                            </div>
                                            <a href="javascript:;" class="col-sm-1 btn btn-success" @click="addKeyWords(addKeywords)">添加</a>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-sm-2"></div>
                                            <div class="col-sm-10">
                                                <div class="keywords-content">
                                                    <template  v-for="keyword in keywords">
                                                        <div class="keywords-list">
                                                            <span class="keyword-item">{{keyword}}</span>
                                                            <a href="javascript:;" class="keyword-del" @click="deleteKeyword(keyword)" :title="'删除 '+keyword">x</a>
                                                        </div>
                                                    </template>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">舆情属性：</label>
                                            <div class="col-lg-10">
                                                <template v-for="(value, key, index) in nature">
                                                    <div class="checkbox inline-block" style="padding-right: 10px;">
                                                        <div class="custom-checkbox">
                                                            <input type="checkbox" :id="'nature-'+index" :value="key" v-model="natureChecked">
                                                            <label :for="'nature-'+index"></label>
                                                        </div>
                                                        <label class="inline-block vertical-top" :for="'nature-'+index" style="padding-left: 0;">{{key}}</label>
                                                    </div>
                                                </template>
                                            </div><!-- /.col -->
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">媒体类型：</label>
                                            <div class="col-lg-10">
                                                <template v-for="(value, key, index) in media">
                                                    <div class="checkbox inline-block" style="padding-right: 10px;">
                                                        <div class="custom-checkbox">
                                                            <input type="checkbox" :id="'media-'+index" :value="key" v-model="mediaChecked">
                                                            <label :for="'media-'+index"></label>
                                                        </div>
                                                        <label class="inline-block vertical-top" :for="'media-'+index" style="padding-left: 0;">{{key}}</label>
                                                    </div>
                                                </template>
                                            </div><!-- /.col -->
                                        </div>

                                        <div class="form-group" v-if="debug">
                                            <p>选中：{{natureChecked}}</p>
                                        </div>

                                        <div class="form-group"v-if="debug">
                                            <p>选中：{{mediaChecked}}</p>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-sm-offset-2 col-sm-10 lab-btns">
                                                <a class="btn btn-success" id="warn-config-form-save" @click="saveEditKeywordsConfig">保存</a>
                                                <a id="form-cancel" class="btn btn-info" @click="cancelEditWarningConfig">取消</a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div><!-- ./tab-pane -->
                        <div class="tab-pane fade" id="thresholdTab">
                            <div class="block h4"><strong>警戒线设置</strong></div>

                        </div><!-- ./tab-pane -->
                    </div><!-- ./tab-content -->
                </div>
            </div>
        </div>
    </div>
</div><!-- /main-container -->
{include file="Common/popup_warn" /}
{include file="Common/popup_list" /}
{include file="Common/popup_verify" /}
{include file="Common/calendar" /}
{include file="Common/bottom" /}
<script src="__PUBLIC__/js/bootstrap-switch/js/bootstrapSwitch.js"></script>
<script>
    $('#consensus-nav-data-warn').addClass('active open');
    $('#consensus-nav-data-warn-sub2').addClass('active');

    // 过滤器
    Vue.filter('showList', function (list) {
        var res = "";
        $.each(list, function (index, value) {
            res += value+'   ';
        });
        return res;
    });

    // 初始化vue
    var vm = new Vue({
        el: '#main-container',
        data: {
            conditionResult: true,
            conditionSet: false,
            keywordsSwitch: false,
            addKeywords: '',
            keywords: [],
            nature: {},
            media: {},
            natureChecked: [],
            mediaChecked: [],
            debug: false
        },
        methods:{
            addKeyWords: function (value) {
                if(value != ""){
                    this.keywords.push(value);
                    this.addKeywords = '';
                    console.log(value);
                }
            },
            deleteKeyword:function (item) {
                console.log(item);
                Array.prototype.remove = function(val) {
                    var index = this.indexOf(val);
                    if (index > -1) {
                        this.splice(index, 1);
                    }
                };
                this.keywords.remove(item);
            },
            editWarningConfig: function () {
                this.conditionSet = true;
                this.conditionResult = false;
                getKeywordsConfig();
            },
            cancelEditWarningConfig: function () {
                this.conditionSet = false;
                this.conditionResult = true;
                getKeywordsConfig();
            },
            saveEditKeywordsConfig: function () {
                setKeywordsConfig();
                this.cancelEditWarningConfig();
            },
            resetAllParams: function () {
                this.addKeywords = '';
                this.keywords = [];
                this.nature = {};
                this.media = {};
                this.natureChecked = [];
                this.mediaChecked = [];
            }
        }
    });

    // 关键词预警开关
    $('#keywordsSwitch').on('switch-change', function (e, data) {
        var value = data.value;
        if(!value){
            $('#keywordsTab .padding-md').hide();
        } else{
            $('#keywordsTab .padding-md').show();
        }
        console.log(value);

    });

    // 获取关键词配置
    function getKeywordsConfig() {
        vm.resetAllParams();
        $.post('__PRO_PATH__/DataMonitor/getKeywordsConfig', {}, function (res) {
            if (res.errorcode == 0) {
                if(!res.switch){
                    $('#keywordsSwitch').bootstrapSwitch('setState', res.switch); // true || false
                    $('#keywordsTab .padding-md').hide();
                } else {
                    vm.keywordsSwitch = true;
                    vm.keywords = res.keywords;
                    vm.nature = res.nature;
                    vm.media = res.media;

                    $.each(res.nature, function (key, value) {
                        if(value == 1){
                            vm.natureChecked.push(key);
                        }
                    });

                    $.each(res.media, function (key, value) {
                        if(value == 1){
                            vm.mediaChecked.push(key);
                        }
                    });

                    console.log(res.nature, res.media);
                }
            }
        });
    }

    // 设置关键词配置
    function setKeywordsConfig() {
        var params = {};
        params['keywordsSwitch'] = vm.keywordsSwitch;
        params['keywords'] = vm.keywords;
        params['nature'] = vm.natureChecked;
        params['media'] = vm.mediaChecked;
        $.post('__PRO_PATH__/DataMonitor/setKeywordsConfig', params, function (res) {
            if (res.errorcode == 0) {
                console.log(res.data);
            } else {
                popWarn(res.msg);
            }
        });
    }

    // 初始化
    getKeywordsConfig();
</script>